<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<system.webServer>
		<httpProtocol>
			<customHeaders>
				<add name="Access-Control-Allow-Origin" value="*" />
			</customHeaders>
		</httpProtocol>

		<staticContent>
			<remove fileExtension=".js" />
			<remove fileExtension=".svg" />
			<remove fileExtension=".eot" />
			<remove fileExtension=".woff" />
			<remove fileExtension=".ttf" />

			<mimeMap fileExtension=".js" mimeType="application/javascript; charset=utf-8" />
			<mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
			<mimeMap fileExtension=".eot" mimeType="application/vnd.ms-fontobject" />
			<mimeMap fileExtension=".woff" mimeType="application/font-woff" />
			<mimeMap fileExtension=".ttf" mimeType="application/octet-stream" />
		</staticContent>
	</system.webServer>
</configuration>
